@import "tailwindcss";

:root {
  --background: #fdf6e3;
  --foreground: #171717;
}

@theme {
  --color-paper: #fdfbf7;
  --color-cover: #2c3e50;
  --color-gold: #c5a059;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
  /* Prevent scrolling for the book experience */
}

/* 3D Transform Utilities */
.perspective-1000 {
  perspective: 1500px;
}

.preserve-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(-180deg);
}

.pattern-wood {
  background-color: #e0d6c2;
  background-image: url("https://www.transparenttextures.com/patterns/wood-pattern.png");
}

.pattern-paper {
  background-image: url("https://www.transparenttextures.com/patterns/cream-paper.png");
}

.pattern-tech {
  background-color: #0f172a;
  /* Slate 900 */
  background-image:
    linear-gradient(rgba(30, 41, 59, 0.5) 1px, transparent 1px),
    linear-gradient(90deg, rgba(30, 41, 59, 0.5) 1px, transparent 1px);
  background-size: 40px 40px;
}
/* Auto Force Landscape on Mobile */
@media screen and (orientation: portrait) and (max-width: 768px) {
  .force-landscape {
    transform: rotate(90deg) !important;
    transform-origin: center center !important;
    width: 100vh !important;
    height: 100vw !important;
    position: fixed !important;
    top: 50% !important;
    left: 50% !important;
    margin-left: -50vh !important;
    margin-top: -50vw !important;
    overflow: hidden !important;
  }
}
